/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

#container{
    height: 100vh;
    width: 100vh;
}


/* header */

.head-bar{
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
}

.head-bar button{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(74,74,74);
}





/* main */

#main-container{
    padding: 100px 50px;
    background-color: black;
    width: 100%;
}

.profile{
    position: relative;
    width: 300px;
    height: 200px;
}

.profile > span{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(101, 113, 126, 0.7);
    padding: 5px;
}




/* debug */

/* .head-bar{
    border: solid red 3px;
} */