/* general */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}








/* header */

.head-bar{
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.head-bar button{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(74,74,74);
}








/* main */

#main-container{
    padding: 100px 50px;
    padding-bottom: 150px;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

.profile{
    position: relative;
    width: 300px;
    height: 200px;
}

.profile > span{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(101, 113, 126, 0.7);
    padding: 5px;
}




/* footer */

#foot{
    width: 100%;
    height: 100px;
    background-color: rgb(34,34,34);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
}











/* debug */

/* .head-bar{
    border: solid red 3px;
} */

.square{
    width: 100px;
    height: 8vh;
    background-color: red;
}